@keyframes slide-in-out {
    0% {
        transform: translateX(100vw);
    }

    20% {
        transform: translateX(0%);
    }

    70% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(100vw);
    }
}

@keyframes slide-in {
    from {
        transform: translateX(100vw);
    }

    to {
        transform: translateX(0%);
    }
}

.slide-in-out {
    animation: slide-in-out 2s ease-in-out forwards;
}

.slide-in {
    animation: slide-in 0.2s ease-in-out forwards;
}

button,
.checkbox {
    cursor: pointer;
    transition: all 75ms;
}

a {
    color: #A8A8A8;
    text-decoration: none;
}

a:hover {
    color: #29ABE2;
    font-weight: bold;
}

.a-menu {
    width: 100%;
    height: 100%;
    padding: 8px 8px 8px 40px;
    text-align: start;
    text-indent: 8px;
}

.btn-small {
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-size: 20px;
    background-color: transparent;
}

.btn-small:hover {
    color: #29ABE2;
}

.btn-small-dark {
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border-radius: 50%;
    background-color: #2A3647;
}

.btn-small-dark:hover {
    background-color: #29ABE2;
}

.btn-dark {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px 16px;
    border: 0;
    border-radius: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    background-color: #2A3647;
}

.btn-dark:hover {
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-dark:active {
    background-color: #091931;
}

.btn-light {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 10px 16px;
    border: 2px solid #2A3647;
    border-radius: 10px;
    font-size: 24px;
    color: #2A3647;
    background-color: transparent;
}

.btn-light:hover {
    color: #29ABE2;
    border: 2px solid #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.btn-light:active {
    color: #091931;
    border: 2px solid #091931;
}

.icon-wrapper {
    position: relative;
    display: flex;
}

.icon-default {
    opacity: 1;
}

.icon-hover {
    position: absolute;
    opacity: 0;
}

.icon-active {
    position: absolute;
    opacity: 0;
}

.btn-light:hover .icon-default,
.btn-light:hover .icon-active,
.btn-small:hover .icon-default,
.checkbox:hover .icon-default {
    opacity: 0;
}

.btn-light:hover .icon-hover,
.btn-small:hover .icon-hover,
.checkbox:hover .icon-hover {
    opacity: 1;
}

.btn-light:active .icon-default,
.btn-light:active .icon-hover {
    opacity: 0;
}

.btn-light:active .icon-active {
    opacity: 1;
}

.btn-active .icon- {
    opacity: 1;
}

.btn-small.btn-active .icon-default,
.btn-small.btn-active .icon-hover {
    opacity: 0;
}

.btn-small.btn-active .icon-active {
    opacity: 1;
}

.btn-profile {
    height: 56px;
    width: 56px;
    border: 3px solid #2A3647;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
    color: #29ABE2;
    background-color: #fff;
    text-transform: uppercase;
    user-select: none;
}

.btn-profile:hover {
    background-color: #E1E6EC;
}

.contact-icon {
    width: 42px;
    height: 42px;
    align-content: center;
    text-align: center;
    text-transform: uppercase;
    border-radius: 50%;
    border: 2px solid #fff;
    color: #fff;
    background-color: #0038FF;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    user-select: none;
}

.btn-collection-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px
}

.btn-seperator {
    width: 1px;
    height: 24px;
    background-color: #A8A8A8;
}

/* MENU BUTTONS */
.btn-menu {
    width: 100%;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border: 0;
    font-size: 20px;
    color: #A8A8A8;
    background-color: transparent;
}

.btn-menu>span {
    width: 100%;
    text-align: start;
    text-indent: 8px;
}

.btn-menu:hover {
    background-color: #2A3D59;
    color: #fff;
}

.menu-active {
    color: #fff !important;
    background-color: #091931 !important;
}


/* INPUTS / TEXTAREAS / CHECKBOX */
label {
    font-size: 20px;
}

.input-wrapper {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.input-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 12px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    background-color: #fff;
}

.err-msg {
    font-size: 14px;
    color: #FF3D00;
}

.required-mark {
    color: #FF3D00;
}

input {
    height: 48px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 20px;
    text-indent: 12px;
    border-radius: 10px;
}

input::placeholder,
textarea::placeholder {
    color: #D1D1D1;
}

.input-area:has(input:focus),
textarea:focus {
    border-color: #29ABE2;
}

.invalid-input {
    border-color: #FF3D00;
}

textarea {
    width: 100%;
    resize: none;
    padding: 12px;
    outline: none;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-size: 20px;
}

.priority-option {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 10px 16px;
    border-radius: 10px;
    font-size: 24px;
    color: #091931;
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.priority-option img,
.priority-option span {
    z-index: 2;
}

.bg-checked {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    border-radius: 10px;
}

.priority-option:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.priority-option input:checked~span {
    color: #fff;
}

.priority-option input:checked~img {
    filter: brightness(0) invert(1);
}

.priority-option.low input:checked~div {
    background-color: #7AE229;
}

.priority-option.medium input:checked~div {
    background-color: #FFA800;
}

.priority-option.urgent input:checked~div {
    background-color: #FF3D00;
}

/* CONTACT */
.contact {
    width: 100%;
    padding: 16px 24px;
    display: flex;
    align-items: center;
    gap: 28px;
    border-radius: 16px;
    cursor: pointer;
}

.contact:hover {
    background-color: #F9F9F9;
}

.contact-active {
    color: #fff;
    background-color: #2A3647;
}

.contact-active:hover {
    color: #fff;
    background-color: #2A3647;
}

.contact > .contact-icon {
    width: auto;
    height: 100%;
    aspect-ratio: 1/1;
}

.contact-infos {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 20px;
}

.contact-name {
    text-transform: capitalize;
}

.contact-mail {
    width: 220px;
    min-height: 20px;
    font-size: 16px;
    color: #29ABE2;
}

.contact .contact-mail {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/* SUBTASKS */
.subtask-item {
    height: 40px;
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    gap: 24px;
}

.subtask-item>.btn-collection-container {
    display: none;
}

.subtask-item:hover>.btn-collection-container {
    display: flex;
}

.subtask-item:hover {
    border: 1px solid #D1D1D1;
}

.subtask-item-editmenu {
    height: 40px;
    padding: 0 12px;
    display: flex;
    border-radius: 0;
    border-bottom: 1px solid #29ABE2;
    background-color: #fff;
}

.subtask-item-editmenu>input[type="text"] {
    height: 100%;
    font-size: 16px;
    text-indent: 0;
}




/* LABELS */
.label {
    color: #fff;
    border-radius: 8px;
    padding: 4px 16px;
}

.label-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    width: 100%;
}

.user-story {
    background-color: #0038FF;
}

.technical-task {
    background-color: #1FD7C1;
}

.default-category {
    background-color: #fc49c0;
}

#add-task-root button#create-task-btn:disabled {
    background-color: var(--disabled-btn-bg);
    opacity: 0.5;
    cursor: not-allowed;
  }
  
#add-task-root button#create-task-btn:disabled:hover {
    background-color: var(--disabled-btn-bg);
    cursor: not-allowed;
    box-shadow: none;
  }

.add-task-wrapper button#create-task-btn:disabled {
    background-color: var(--disabled-btn-bg);
    opacity: 0.5;
    cursor: not-allowed;
  }
  .add-task-wrapper button#create-task-btn:disabled:hover {
    background-color: var(--disabled-btn-bg);
    box-shadow: none;
  }

@media (max-width: 1140px) {
    .icon-add {
        height: 22px;
        width: 22px;
    }
}

@media (max-width: 476px) {
    .btn-profile {
        height: 40px;
        width: 40px;
        border: 2px solid #2A3647;
        font-size: 16px;
        font-weight: bold;
    }
}